/*
#------------------------------------------------------------------------
# game. - December Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2013 Gavick.com. All Rights Reserved.
# License: Copyrighted Commercial Software
# Website: http://www.gavick.com
# Support: support@gavick.com 
*/

/* Basic elements */

html { -webkit-font-smoothing: subpixel-antialiased; }
body {
	background: #000;
	color: #555;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
	margin: 0;
	min-height: 100%;
	padding: 0;
	word-wrap: break-word;
}
#gkBg {
	background: #eee url('../images/header_bg.jpg') no-repeat center 0;
	background-size: 2400px 900px;
	overflow: hidden;
}
body.noBg #gkBg {
	background-image: none;
}
a,
#gkMainbody a:active,
#gkMainbody a:focus,
#gkMainbody a:hover,
#gkMainbody header h2 a,
#k2Container article header h2 a {
	color: #000;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
	text-decoration: none;
}
a:hover,
a:active,
a:focus,
#gkMainbody a,
#gkMainbody header h2 a:active,
#gkMainbody header h2 a:focus,
#gkMainbody header h2 a:hover,
#k2Container article header h2 a:active,
#k2Container article header h2 a:focus,
#k2Container article header h2 a:hover,
#gkSidebar .box a:hover { color: #d82731; }
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	font-weight: 400;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	text-transform: uppercase
}
h1 {
	font-size: 44px;
	font-weight: 500;
}
h2,
.componentheading {
	font-size: 42px;
	font-weight: 300;
}
h3 { font-size: 30px; }
h4 { font-size: 22px; }
h5 { font-size: 17px; }
h6 { font-size: 13px; }
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul li { line-height: 2.0; }
p { margin: 1em 0 2em; }
iframe { max-width: 100%!important; }
/* Containers */

.gkPage {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto!important;
	padding: 0;
}
#gkHeader {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 58px 0 0 0;
}
#gkHeader h1.gkPage {
	color: #fff;
	font-size: 44px;
	letter-spacing: -1.5px;
	padding: 75px 0 35px 0;
	text-transform: none;
}
#gkHeaderNav {
	text-align: center;
}
#gkPageWrap { margin: 0 auto; }
#gkContent,
#gkPageContent { 
	position: relative;
	width: 100%;
	z-index: 20;
}
#gkPageContent:first-child {
	margin-top: 126px!important;
}
#gkPageContent > div {
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
	padding: 35px 45px 0 45px;
	width: 100%;
}
#gkPageContent > div:first-child {
	min-height: 800px;
}
#gkPageContent > #gkBanners {
	min-height: 0;
}
#gkBanners {
	background: transparent!important;
	display: table;
	padding: 0!important;
}
#gkBannerLeft {
	background: #18191b;
}
#gkBannerLeft .box {
	padding: 45px!important;
}
#gkBannerLeft .box.transparent {
	padding: 0!important;
}
#gkBannerRight {
	background: #d82731;
}
#gkBanners .header {
	color: #fff;
}
#gkBanners > div > div:first-child {
	margin-top: -80px;
}

/* Header bottom */
#gkHeaderBottom {
	background: #000!important;
}

/* Logo  */
#gkLogo {
	float: left;
	height: 58px;
	margin: 0;
	padding: 0;
	text-indent: -999em;
	text-shadow: none;
	width: 85px;
	display: block;
}
#gkLogo img {
	display: block;
	margin: 0;
}
#gkLogo.cssLogo {
	background: transparent url('../images/style1/logo.png') no-repeat 0 0;
	/* You can specify there logo size and background */
	height: 58px;
	width: 85px;
}
#gkLogo.text {
	color: #fff;
	display: block;
	float: left;
	height: 58px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-indent: 0;
	width: auto;
}
#gkLogo.text > span {
	display: block;
	font-size: 30px;
	line-height: 46px;
	padding: 0;
}
#gkLogo.text .gkLogoSlogan {
	color: #e5e5e5;
	display: block;
	font-size: 10px;
	line-height: 4px;
	text-align: center;
}
/* Userarea */
#gkLogin {
	float: right;
	color: #fff;
	text-transform: uppercase;
	margin-left: 32px;
	font-size: 13px;
}
#gkLogin:active,
#gkLogin:focus,
#gkLogin:hover {
	color: #ddd;
}

/* Top bar */
#gkTopBar {
	background: #1e1e1e; 
	color: #fff;
	min-height: 58px;
	line-height: 58px;
	position: fixed;
	top: 0;
	-webkit-transition: all .35s linear;
	-moz-transition: all .35s linear;
	-ms-transition: all .35s linear;
	-o-transition: all .35s linear;
	transition: all .35s linear;
	width: 100%;
	z-index: 110;
}
#gkTopBar[data-menu-type="overlay"] {
	position: static;
}
#gkTopBar[data-menu-type="overlay"] + #gkBg > #gkHeader {
	margin-top: 0;
}
#gkTopBar:after {
	clear: both;
	content: "";
	display: table;
}
#gkTopBar > div {
	position: relative;
	-webkit-transition: all .35s linear;
	-moz-transition: all .35s linear;
	-ms-transition: all .35s linear;
	-o-transition: all .35s linear;
	transition: all .35s linear;
}
#gkTopBar.active { margin-top: 0; }
#gkTopBar.active > div { top: 0; }

/* Mainbody */
#gkMainbody { 
	margin-bottom: 20px; 
}
.frontpage #gkMainbody { 
	margin: 0; 
}
.frontpage #gkMainbody .box {
	margin: 0;
}
/* Sidebars */
#gkInset {
	background: #18191b;
}

/* Stylearea */
#gkStyleArea {
	clear: both;
	display: block;
	line-height: 10px;
	margin: 20px 0 40px 0;
	padding: 10px 0;
	text-align: center;
}
#gkStyleArea a {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin: 15px 0 0 5px;
	text-indent: -9999px;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-o-transition: -o-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
	width: 10px;
}
#gkStyleArea a:first-child { margin-left: 0; }
#gkStyleArea a:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}
#gkColor1 { background: #d82731; }
#gkColor2 { background: #6699ff; }
#gkColor3 { background: #f49333; }
#gkColor4 { background: #548c07; }
#gkColor5 { background: #0c77cc; }
#gkColor6 { background: #94a4a5; }

/* Group modules */

#gkBottom1,
#gkBottom2,
#gkBottom3 {
	overflow: hidden;
}

/* standard breadcrumb */
#gkBreadcrumb {
	background: transparent;	
	border-bottom: 1px solid #E5E5E5;
    margin-bottom: 36px;
    padding-bottom: 14px;
	
}
#gkBreadcrumb .breadcrumbs {
	float: left;
	color: #999;
}
#gkBreadcrumb .breadcrumbs li.separator {
	padding: 0 10px!important;
	width: 6px;
}
#gkBreadcrumb .breadcrumbs li.separator i {
	color: #d82731;
	font-size: 4px;
	line-height: 1.6;
	position: relative;
	top: -3px;
}
#gkBreadcrumb .breadcrumbs > ul > li {
	float: left;
	font-size: 13px;
	font-weight: 500;
	line-height: 1
}
#gkBreadcrumb .breadcrumbs > ul > li a { font-weight: normal }
#gkTools {
	float: right;
	margin: 4px 0 0 10px;
}
#gkTools a {
	display: block;
	float: left;
	width: 22px;
	height: 16px;
	margin: 0 0 0 0px !important;
	text-indent: -99999em;
	background: url('../images/font_size.png') no-repeat -38px 50%;
}
a#gkToolsReset {
	background-position: -15px 50%;
	margin-left: 6px;
}
a#gkToolsDec { background-position: 6px 50%; }
/* footer */
#gkFooter {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	color: #505050;
	font-size: 12px;
	line-height: 16px;
	padding: 0;
}
#gkFooter > div { 
	padding: 0; 
}
#gkFooterNav {
	border: 1px solid #222327;
	border-left: none;
	border-right: none;
}
#gkFooterNav li {
	border: none;
	display: inline-block;
	float: none;
	line-height: 67px;
	margin: 0 16px;
	padding: 0;
}
#gkFooterNav li:first-child {
	margin-left: 0;
}
#gkFooterNav li:before {
	background: #d82731;
	content: "";
	display: block;
	height: 2px;
	left: -16px;
	position: relative;
	top: 34px;
	width: 2px;
}
#gkFooterNav li:first-child:before {
	display: none;
}
#gkFooter a { 
	color: #555; 
}
#gkFooter a:active,
#gkFooter a:focus,
#gkFooter a:hover { 
	color: #aaa; 
}
#gkCopyrights {
	color: #555;
	line-height: 1.2;
	margin: 36px 0;
}
#gkCopyrights a {
	color: #ccc;
}
#gkCopyrights a:active,
#gkCopyrights a:focus,
#gkCopyrights a:hover {
	color: #888;
}

/* Other footer elements */
#gkFrameworkLogo {
	display: block;
	width: 90px;
	height: 36px;
	background: url('../images/gavern-logo.png') no-repeat 0 0;
	text-indent: -9999em;
	margin: 12px auto 0 auto;
	opacity: 0.4;
}
/* Default modules */
.box .search {
	position: relative;
}
.box .search:after {
	color: #111;
	content: "\f002";
	font-family: FontAwesome;
	position: absolute;
	right: 20px;
	top: 6px;
	z-index: 1;
}
.box .search .inputbox,
.box .search #mod-search-searchword {
	padding: 8px 20px !important;
	width: 100%;
}

/* Suffixes */
.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	color: #555;
	line-height: 1.6;
	margin: 0 0 42px;
	padding: 0;
	width: 100%;
}
#gkInset .box,
#gkSidebar .box {
	margin: 42px 0 0 0;
}
#gkInset .box:first-child,
#gkSidebar .box:first-child,
#gkInset .box.clear + .box,
#gkSidebar .box.clear + .box {
	margin: 0;
}
div.content { clear: both; }
.box li {
	border-bottom: 1px solid #e5e5e5;
	line-height: 1.6;
	padding: 10px 0;
	overflow: visible;
}
.box li:last-child { border-bottom: none; }
.box li a {
	line-height: 1.0;
	text-decoration: none;
}
.box a { text-decoration: none; }
.box ul ul { margin-left: 20px; }

/* default suffix */
.box .header {
	color: #000;
	font-size: 13px;
	font-weight: 600;
	line-height: 15px;
	margin: 0 0 20px 0;
	padding: 0;
	text-transform: uppercase;
}


/* clear suffix */
.box.clear {
	clear: none;
	margin: 0!important;
	padding: 0;
}
.clear div.content { 
	clear: both; 
}

/* advertisement suffix */
.box.advertisement .header {
	background: transparent;
	color: #c0c0c0!important;
	font-size: 13px!important;
	font-style: italic;
	font-weight: 300;
	line-height: 16px;
	margin: 0 0 16px 0;
	min-height: 21px;
	padding: 0;
	text-transform: none;
}

/* suffix light */
.box.light {
	background: #f1f1f1;
	padding: 20px!important;
}

/* suffix _text */
.box_text > div { background: #fff; }

/* suffix dark */
.box.dark,
.dark-area .box {
	background: #000!important;
	color: #8b8b8b;
	padding: 20px!important;
}
.dark-area .box {
	background: transparent!important;
	padding: 0!important;
}
.box.dark .header,
.dark-area .box .header {
	background: transparent!important;
	color: #fff;
	line-height: 1.2;
}
.box.dark h1,
.box.dark h2,
.box.dark h3,
.box.dark h4,
.box.dark h5,
.box.dark h6 { 
	color: #ddd;
}
.box.dark ul {
	margin: 0;
	padding: 0;
}
.box.dark ul li {
	border-bottom: 1px solid #333;
	position: relative;
}
.box.dark ul li:last-child { border-bottom: none; }
.box.dark a { color: #ddd!important; }
.box.dark a:active,
.box.dark a:focus,
.box.dark a:hover { color: #d82731!important; }
.box.dark ul ul { margin: 0 0 0 20px; }

/* Suffix banner */
.box.banner img {
	display: block;
}

/* Suffix nomargin */
.box.nomargin {
	margin: 0!important;
	padding: 0!important;
}

/* Suffix highlights */
.box.highlights {
	background: #d82731;
}
.box.highlights .header {
	border-bottom: 1px solid #e73f48;
	color: #fff;
	line-height: 50px;
	margin: 0;
	text-align: center;
}

/* color-bg* suffixes */
.box.color-bg1 .header,
.box.color-bg2 .header,
.box.color-bg3 .header {
	background: #d82731;
	color: #fff;
	float: left;
	line-height: 28px;
	padding: 0 8px;
}
.box.color-bg1 .header + .content,
.box.color-bg2 .header + .content,
.box.color-bg3 .header + .content {
	clear: both;
}
.box.color-bg2 .header {
	background: #000!important;
}
.box.color-bg3 .header {
	background: #f7a834;
}

/* color* suffixes */
.box.color1 .header { color: #d82731; }
.box.color2 .header { color: #8b8b8b; }
.box.color3 .header { color: #f7a834; }

/* Icons in the title */
.box .header i { font-size: 14px; }
.box.color1 .header i { color: #d82731; }
.box.color2 .header i { color: #8b8b8b; }
.box.color3 .header i { color: #f7a834; }
.box.icon-color1 .header > i { color: #d82731; }
.box.icon-color2 .header > i { color: #8b8b8b; }
.box.icon-color3 .header > i { color: #f7a834; }
.box.icon-color4 .header > i { color: #000; }

/* transparent suffix */
.box.transparent {
	background: transparent!important;
	padding: 0!important;
}

/* Bottom */
#gkBottom2,
#gkBottom3 {
	font-size: 12px;
	margin: 80px 0 60px 0;
}
#gkBottom2 .box,
#gkBottom3 .box {
	color: #555;
}
#gkBottom2 .box .header,
#gkBottom3 .box .header  {
	color: #ccc;
	font-size: 12px;
	font-weight: 400;
}
#gkBottom2 .box li,
#gkBottom3 .box li {
	border: none;
	padding: 4px 0;
}
#gkBottom2 .box a,
#gkBottom3 .box a {
	color: #555;
}
#gkBottom2 .box a:active,
#gkBottom2 .box a:focus,
#gkBottom2 .box a:hover,
#gkBottom3 .box a:active,
#gkBottom3 .box a:focus,
#gkBottom3 .box a:hover {
	color: #aaa;
}

/* tablet/mobile suffixes */
.onlydesktop { display: block; }
.onlytablet { display: none; }
.onlymobile { display: none; }
/* Login form */
#gkFBLogin {
	float: left;
	width: 45%;
}
#gkFBLogin p {
	line-height: 18px;
	margin: 14px 0 20px;
}
#gkFBLogin + #login-form,
#gkFBLogin + #com-login-form {
	float: left;
	width: 45%;
	margin-left: 4%;
	padding-left: 30px;
	border-left: 1px solid #e7e7e7;
}
#form-login-remember { margin: 10px 0 20px; }
#form-login-remember label {
	color: #777;
	font-size: 11px;
	font-weight: normal;
	line-height: 27px;
}
#login-form fieldset { margin: 0 0 20px; }
#login-form fieldset p { margin: 0.5em 0; }
#login-form ul {
	border-top: 1px solid #E7E7E7;
	 margin: 42px 0 0;
    overflow: hidden;
    padding: 12px 0 0;
}

#login-form ul li {
	color: #999;
	font-size: 11px;
	display: inline-block;
	line-height: 1.6;
	margin-right: 12px;
}
#login-form input[type="text"],
#login-form input[type="password"] { width: 95%; }
label#jform_spacer-lbl {
	font-size: 11px;
	font-weight: normal;
	color: #666;
}
/* Popup Login */
#gkPopupOverlay,
#gkPopupLogin,
#gkPopupCart {
	color: #777;
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 1000002;
	left: 50%;
	top: 80px;
}
#gkPopupOverlay {
	position: fixed;
}
#gkPopupLogin,
#gkPopupCart {
	margin-left: -220px;
	width: 426px;
}
#gkPopupLogin > div,
#gkPopupCart > div {
	margin-top: -40px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#gkPopupLogin .gkUserdata,
#gkPopupLogin .gkUsermenu {
	float: left!important;
	width: 50%!important;
}
#gkPopupLogin.gk3Danim > div,
#gkPopupCart.gk3Danim > div {
	margin-top: 0;
}
.gkPopupWrap {
	background: #fff;
	padding: 40px;
	overflow: hidden;
}
.gkPopupWrap h3 {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -0.5px;
	line-height: 32px;
	margin: 0 0 32px;
}
.gkPopupWrap h3 small { font-size: 16px!important; }
.gkPopupWrap h3 a { color: #d82731; }
.gkPopupWrap h3 a:hover { color: #272727; }
.gkPopupWrap ul.menu { margin: 0; }
.gkPopupWrap .logout-button { margin-top: 20px; }
#gkPopupOverlay {
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 1000001;
	top: 0;
	left: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	opacity: 0.45;
	margin-left: 0;
}
/* Login with Facebook button */

span#fb-auth small {
	width: 20px;
	background: transparent url('../images/fbauth.png') no-repeat 0 2px;
	text-indent: -999em;
	display: block;
	float: left;
	border-right: 1px solid #a0aecd;
	margin: 3px 16px 0 0;
	height: 17px;
}
span#fb-auth {
	background-color: #798db9;
	display: inline-block;
	color: #fff;
	font-family: arial;
	line-height: 26px;
	font-size: 12px;
	font-weight: bold;
	margin: 3px 0 0 0;
	padding: 7px 24px 7px 12px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #445375;
	cursor: pointer;
	height: 24px;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
	position: relative;
	top: -3px;
}

a#button{
	top:0;	
	left:0;	
	position:relative;
	font:bold 20px/35px Lato,serif;
	color:#fff;
	text-shadow:1px 2px 2px #111;
	box-shadow:2px 2px 0 #bfbebe,3px 3px 0 #bfbebe,4px 4px 0 #bfbebe,5px 5px 0 #bfbebe;
	transition:top 0.25s, left 0.25s, box-shadow 0.25s;
		-webkit-transition:top 0.25s, left 0.25s, box-shadow 0.25s;
		-moz-transition:top 0.25s, left 0.25s, box-shadow 0.25s;
		-o-transition:top 0.25s, left 0.25s, box-shadow 0.25s
}
a#button:hover{
	box-shadow:none;
	top:5px;
	left:5px
}

span#fb-auth:hover { background-color: #556b9b; }
.login span#fb-auth { margin: 6px 0 0 10px; }
body[data-mobile="true"] #gkMobileMenu select { font-size: 50px; }
#gkMobileMenu > label { display: none; }